:root {
  --background-dark: #2e2f42;
  --background-light: #f4f4fd;
  --background-white: #ffffff;
  --primary-btn: #4d5ae5;
  --pressed-btn: #404bbf;
  --title-color: #2e2f42;
  --descr-color: #434455;
  --button-color-text: #4d5ae5;
  --button-bg: #f4f4fd;
  --modal-colour: #8e8f99;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  /* color: inherit; */
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 428px) {
  .container {
    width: 428px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
@media screen and (max-width: 1157px) {
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ====================  MOBILE =================== */
@media screen and (max-width: 767px) {
  /*  ====================Body-page===================== */

  /* Header portfolio */

  .logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: auto;
    padding: 24px 0;
  }

  .logo-part-two {
    color: #2e2f42;
  }
  .link {
    text-decoration: none;
  }
  /* ======Body-page====== */

  /* =====Main-section-button===== */
  .modal-open-button {
    background-color: #404bbf;
  }

  /* contact menu */
  .contact-font {
    font-style: normal;
  }

  .contact-link {
    color: var(--secondary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* index header color second swction */
  .primary-color {
    color: var(--primary-text-color);
  }

  /* index first section header  colour */

  /* list decoration */
  .list {
    list-style: none;
  }
  .menu-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;

    color: var(--title-color);
    position: relative;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-link:hover:after,
  .menu-link:focus:after {
    color: #404bbf;
    width: 100%;
  }

  .menu-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .contact-link:hover,
  .contact-link:focus {
    color: #404bbf;
  }

  .menu-link:hover,
  .menu-link:focus {
    color: #404bbf;
  }

  .adress-font {
    display: none;
  }
  /* ================= MOBILE MENU ==================== */

  @media (max-width: 767px) {
    .menu {
      display: none;
    }
  }

  .menu .link {
    padding: 10px;
    color: inherit;
    text-decoration: none;
  }

  .menu .link:hover,
  .menu .link:focus {
    text-decoration: underline;
  }

  .menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
  }

  .menu-toggle:hover,
  .menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 32px;
    background-color: #fff;
    z-index: 999;

    display: flex;
    flex-direction: column;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }

  .menu-container.is-open {
    transform: translateX(0);
  }

  .menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #000;
  }

  .mobile-menu {
    margin-bottom: auto;
  }
  .mobile-menu-item:not(:last-child) {
    margin-bottom: 30px;
  }

  .mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;

    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: #2e2f42;
  }
  .mobile-contact-item:not(:last-child) {
    margin-bottom: 30px;
  }
  .mobile-contact-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

    letter-spacing: 0.02em;

    color: #434455;
  }

  .current {
    color: #404bbf;
  }
  .social-list.mobile-social {
    margin-top: 48px;
    gap: 30px;
  }
  @media screen and (min-width: 428px) {
    .social-list.mobile-social {
      gap: 56px;
    }
  }

  /* portfolio-card-title */
  .portfolio-card-title {
    color: var(--title-color);
  }

  .portfolio-card-text {
    color: var(--descr-color);
  }

  .logo-part-two-footer {
    color: #f4f4fd;
  }

  /*header  */

  /* Header 2 */ /* index four-section-title */

  .header-pic-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
  }
  /* Header 3 */

  /* Body */

  /* Body Medium */
  .body-text {
    display: none;
  }

  /* Button Text */
  .button-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
  }

  /* Body */
  .header-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .footer-logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    background-color: #2e2f42;
  }

  .footer-color {
    background-color: #2e2f42;
  }

  /* index button */
  .main-button {
    background-color: #4d5ae5;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .main-button:hover,
  .main-button:focus {
    background-color: #404bbf;
  }
  /* portfolio button */
  .filter-btn {
    color: var(--button-color-text);
    background-color: var(--button-bg);
    cursor: pointer;
  }

  .filter-btn:hover,
  .filter-btn:focus {
    color: #ffffff;
    background-color: #404bbf;
  }

  /*  index hidden header */
  .hidden-header {
    color: #2e2f42;
  }
  .white-background {
    background-color: #ffffff;
  }

  .features-title {
    color: var(--title-color);
  }

  /* ===============third-homework=================== */

  /* HEADER-CONTAINER */

  .flex-container {
    display: flex;
    align-items: center;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-adress-list {
    display: flex;
    gap: 40px;
  }
  .header-shadow {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  /* =====first-section-index==== */

  .main-header-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;

    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 48px;
  }

  .button-service {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
  }
  .main-section-tools {
    padding: 112px 0;
    background-color: #2e2f42;
    max-width: 428px;
    height: 432px;
    margin: 0 auto;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/images/people-office/hero-img-x1.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .main-section-tools {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/images/people-office/hero-img-x2.jpg);
    }
  }

  /* ===second-section-index=== */

  .specialties-list {
  }
  .specialties-item:not(:last-child) {
    margin-bottom: 72px;
  }

  .specialties-title {
    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
  }
  .specialties-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  /*====third-section==== */
  .section-work {
    padding-bottom: 120px;
  }

  .work-title {
    margin-bottom: 72px;
  }
  .worksheet {
    gap: 24px;
    display: flex;
  }
  .work-list {
    width: calc((100% - 48px) / 3);
  }
  /* section-four */
  .team {
    background-color: #f4f4fd;
  }
  .header-pic {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
    text-transform: capitalize;
    color: #2e2f42;
  }
  .employees-list {
    display: flex;

    /* другой подход 👇 */
    /* flex-direction: column;
    align-items: center; */

    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
  }

  .team-employees {
    width: 264px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .about-employees {
    padding: 32px 0;
  }
  .about-employees-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;

    text-align: center;
    letter-spacing: 0.02em;

    color: #2e2f42;
  }
  .employees-position {
    text-align: center;
    margin-bottom: 8px;
  }
  .social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  /* !!!!!!!!!!!!!!!!===!!! */
  .social-list-icon {
    width: 40px;
    height: 40px;
  }
  .social-list-icon-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-list-icon-link:hover,
  .social-list-icon-link:focus {
    background-color: #404bbf;
  }
  .employees-social {
    fill: #f4f4fd;
  }
  /* ============block- portfolio============= */

  /* ------header-portfolio------- */

  .header-block {
    border-bottom: 1px solid #e7e9fc;
  }
  /* main-portfolio */
  .main-section {
    padding: 96px 0 120px;
  }
  .button-list {
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
  }
  .button-list-tools {
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid transparent;
    border: 1px solid #e7e9fc;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .button-list-tools:hover,
  .button-list-tools:focus {
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  .list-pic {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }
  .portfolio-link-list {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-link-list:hover,
  .portfolio-link-list:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .possibilities-list {
    width: calc((100% - 48px) / 3);
  }
  .container-application-name {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }
  /*  ========customers-section webstudio========*/

  .customers-title {
    font-size: 36px;
    line-height: 1.1;
    color: #2e2f42;
    margin-bottom: 72px;
    text-align: center;
  }
  .about-customers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 16px;
  }
  .customers-list {
    width: 190px;
    height: 88px;
  }
  .customers-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8e8f99;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .customers-link:hover,
  .customers-link:focus {
    border-color: #404bbf;
    color: #404bbf;
    border-color: #404bbf;
    color: #404bbf;
  }
  .customers-list-icon {
    fill: currentColor;
  }
  .header-border {
    border-bottom: 1px solid #e7e9fc;
  }

  /* FOOTER-container */
  .footer-container {
    padding: 100px 0;
  }

  .footer-link-block {
    display: block;
    margin-bottom: 16px;
    text-align: center;
  }

  /* =======footer index======= */

  .body-adress {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
    margin: 0 auto;
  }

  /* =====footer portfolio==== */
  /* .footer-flex {
    display: flex;
    align-items: baseline;
  } */
  .footer-social-container {
    margin-bottom: 72px;
  }
  .footer-social {
    margin-bottom: 72px;
  }
  .footer-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    text-align: center;
  }
  .footer-list-gap {
    gap: 16px;
  }
  .social-list-icon-tools:hover,
  .social-list-icon-tools:focus {
    background-color: #31d0aa;
  }
  /*=====backdrop-modal-footer==== */
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .appeal {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* 👇 размеры для 2х экранов моблики  */
    width: 95%;
    max-width: 392px;
    height: 95%;
    max-height: 584px;
    overflow: scroll;

    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
  }
  .modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-close-btn:hover,
  .modal-close-btn:focus {
    background-color: #404bbf;
    border: none;

    fill: #ffffff;
  }
  .close-button {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .hidden-overlay {
    position: relative;
    overflow: hidden;
  }
  .overlay {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--button-bg);
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .overlay-link:hover .overlay,
  .overlay-link:focus .overlay {
    transform: translateY(0%);
  }
  /* ======modal-win======  */
  .modal-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 16px;
  }
  .modal-container {
    margin-bottom: 8px;
  }
  .contact-form-field-wrapper {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--modal-colour);
    display: block;
    margin-bottom: 4px;
  }
  .contact-name-form {
    position: relative;
  }
  .contact-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-form-input:focus + .modal-ikon-name {
    border-color: #4d5ae5;
    fill: #4d5ae5;
  }
  .contact-form-input:focus {
    border-color: #4d5ae5;
  }
  .modal-ikon-name {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-input-form {
    width: 100%;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
    display: inline-block;
  }
  .footer-input-form::placeholder {
    color: #ffffff;
  }
  .footer-button-subscribe {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;

    margin: 0 auto;
    margin-top: 16px;
  }
  .footer-button-icon {
    margin-left: 16px;
    fill: #ffffff;
  }
  .modal-comment {
    margin-bottom: 16px;
  }

  .modal-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.2);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-textarea:focus {
    border-color: #4d5ae5;
  }
  .modal-accept {
    margin-bottom: 24px;
  }
  .modal-accept-label {
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--modal-colour);
    font-size: 12px;
  }
  .modal-accept-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
  }
  .modal-link {
    color: var(--button-color-text);
  }
  .modal-button {
    display: block;
    height: 56px;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    min-width: 169px;
    color: #ffffff;
    background-color: #4d5ae5;
    margin: 0 auto;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
  }

  .input-visually-hidden:checked + .modal-accept-label > .modal-accept-span {
    background-color: var(--pressed-btn);
    border: none;
    fill: #ffffff;
    border-color: var(--background-white);
  }
}
/* ====================  TABLET =================== */
@media screen and (min-width: 768px) {
  /*  ====================Body-page===================== */

  /* Header portfolio */

  .logo-link.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 120px;
    padding: 24px 0;
  }
  .logo-part-two {
    color: #2e2f42;
  }
  .link {
    text-decoration: none;
  }
  /* ======Body-page====== */

  /* =====Main-section-button===== */
  .modal-open-button {
    background-color: #404bbf;
  }

  /* contact menu */
  .contact-font {
    font-style: normal;
  }

  .contact-link {
    color: var(--descr-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* index header color second swction */
  .primary-color {
    color: var(--primary-text-color);
  }

  /* index first section header  colour */
  .font-white-text {
    color: #ffffff;
  }

  /* list decoration */
  .list {
    list-style: none;
  }
  .menu-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    padding: 24px 0;

    color: var(--title-color);
    position: relative;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-link:hover:after,
  .menu-link:focus:after {
    color: #404bbf;
    width: 100%;
  }
  .menu-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }
  .active-page {
    color: #404bbf;
    position: relative;
  }
  .active-page::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .contact-link:hover,
  .contact-link:focus {
    color: #404bbf;
  }

  .menu-link:hover,
  .menu-link:focus {
    color: #404bbf;
  }

  .adress-font {
    font-style: normal;
    margin-left: auto;
  }

  /* portfolio-card-title */
  .portfolio-card-title {
    color: var(--title-color);
  }

  .portfolio-card-text {
    color: var(--descr-color);
  }

  .logo-part-two-footer {
    color: #f4f4fd;
  }

  /*header  */

  /* Header 2 */ /* index four-section-title */
  .header-pic {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    background-color: #f4f4fd;
    text-transform: capitalize;
    color: #2e2f42;
  }
  .header-pic-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
  }
  /* Header 3 */
  .header-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }

  /* Body */
  .body-adress {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
  }

  /* Body Medium */
  .body-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /* Button Text */
  .button-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
  }

  /* Header 3 */
  .header-title-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  /* Body */
  .header-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .footer-logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    background-color: #2e2f42;
  }

  .footer-color {
    background-color: #2e2f42;
    color: #f4f4fd;
  }

  /* index button */
  .main-button {
    background-color: #4d5ae5;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .main-button:hover,
  .main-button:focus {
    background-color: #404bbf;
  }
  /* portfolio button */
  .filter-btn {
    color: var(--button-color-text);
    background-color: var(--button-bg);
    cursor: pointer;
  }

  .filter-btn:hover,
  .filter-btn:focus {
    color: #ffffff;
    background-color: #404bbf;
  }

  /*  index hidden header */
  .hidden-header {
    color: #2e2f42;
  }
  .white-background {
    background-color: #ffffff;
  }

  .features-title {
    color: var(--title-color);
  }

  /* ===============third-homework=================== */

  /* HEADER-CONTAINER */
  .menu-toggle {
    display: none;
  }
  .menu-container {
    display: none;
  }
  .flex-container {
    display: flex;
    align-items: center;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }

  .menu-flex {
    gap: 40px;
    display: flex;
  }

  .header-adress-list {
    display: flex;
  }
  .header-shadow {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  /* =====first-section-index==== */

  .main-header-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;

    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
  }

  .button-service {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
  }
  .main-section-tools {
    padding: 112px 0;
    background-color: #2e2f42;
    max-width: 768px;
    height: 436px;
    margin: 0 auto;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/images/people-office/hero-img-tablet-x1.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .main-section-tools {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/images/people-office/hero-img-tablet-x2.jpg);
    }
  }

  /* ===second-section-index=== */

  .specialties-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .specialties-item {
    width: 356px;
  }

  .specialties-title {
    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  .specialties-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .specialties-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  /*====third-section==== */
  .section-work {
    padding-bottom: 120px;
  }
  .work-title {
    margin-bottom: 72px;
  }
  .worksheet {
    gap: 24px;
    display: flex;
  }
  .work-list {
    width: calc((100% - 48px) / 3);
  }
  /* section-four */
  .team {
    background-color: #f4f4fd;
  }
  .header-pic {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
    text-transform: capitalize;
    color: #2e2f42;
  }
  .employees-list {
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 24px;
  }

  .team-employees {
    width: 264px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .about-employees {
    padding: 32px 0;
  }
  .about-employees-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;

    text-align: center;
    letter-spacing: 0.02em;

    color: #2e2f42;
  }
  .employees-position {
    text-align: center;
    margin-bottom: 8px;
  }
  .social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  /* !!!!!!!!!!!!!!!!===!!! */
  .social-list-icon {
    width: 40px;
    height: 40px;
  }
  .social-list-icon-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-list-icon-link:hover,
  .social-list-icon-link:focus {
    background-color: #404bbf;
  }
  .employees-social {
    fill: #f4f4fd;
  }
  /* ============block- portfolio============= */

  /* ------header-portfolio------- */

  .header-block {
    border-bottom: 1px solid #e7e9fc;
  }
  /* main-portfolio */
  .main-section {
    padding: 96px 0 120px;
  }
  .button-list {
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
  }
  .button-list-tools {
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid transparent;
    border: 1px solid #e7e9fc;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .button-list-tools:hover,
  .button-list-tools:focus {
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  .list-pic {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }
  .portfolio-link-list {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-link-list:hover,
  .portfolio-link-list:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .possibilities-list {
    width: calc((100% - 48px) / 3);
  }
  .container-application-name {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }
  /*  ========customers-section webstudio========*/

  .customers-title {
    font-size: 36px;
    line-height: 1.1;
    color: #2e2f42;
    margin-bottom: 72px;
    text-align: center;
  }
  .about-customers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 24px;
  }
  .customers-list {
    width: 168px;
    height: 88px;
  }
  .customers-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8e8f99;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .customers-link:hover,
  .customers-link:focus {
    border-color: #404bbf;
    color: #404bbf;
    border-color: #404bbf;
    color: #404bbf;
  }
  .customers-list-icon {
    fill: currentColor;
  }

  /* FOOTER-container */
  .footer-container {
    padding: 100px 0;
  }

  .footer-link-block {
    display: block;
    margin-bottom: 16px;
  }

  /* =======footer index======= */

  /* =====footer portfolio==== */
  .footer-flex {
    display: flex;
  }

  .form-tools {
    display: flex;
    gap: 24px;
  }
  .footer-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
  }
  .footer-list-gap {
    gap: 16px;
  }
  .social-list-icon-tools:hover,
  .social-list-icon-tools:focus {
    background-color: #31d0aa;
  }
  /*=====backdrop-modal-footer==== */
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .appeal {
    width: 360px;
    top: 152px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
  }
  .modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-close-btn:hover,
  .modal-close-btn:focus {
    background-color: #404bbf;
    border: none;

    fill: #ffffff;
  }
  .close-button {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .hidden-overlay {
    position: relative;
    overflow: hidden;
  }
  .overlay {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--button-bg);
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .overlay-link:hover .overlay,
  .overlay-link:focus .overlay {
    transform: translateY(0%);
  }
  /* ======modal-win======  */
  .modal-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 16px;
  }
  .modal-container {
    margin-bottom: 8px;
  }
  .contact-form-field-wrapper {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--modal-colour);
    display: block;
    margin-bottom: 4px;
  }
  .contact-name-form {
    position: relative;
  }
  .contact-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-form-input:focus + .modal-ikon-name {
    border-color: #4d5ae5;
    fill: #4d5ae5;
  }
  .contact-form-input:focus {
    border-color: #4d5ae5;
  }
  .modal-ikon-name {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-input-form {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
    display: inline-block;
  }
  .footer-input-form::placeholder {
    color: #ffffff;
  }
  .footer-button-subscribe {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
  }
  .footer-button-icon {
    margin-left: 16px;
    fill: #ffffff;
  }
  .modal-comment {
    margin-bottom: 16px;
  }

  .modal-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.2);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-textarea:focus {
    border-color: #4d5ae5;
  }
  .modal-accept {
    margin-bottom: 24px;
  }
  .modal-accept-label {
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--modal-colour);
    font-size: 12px;
  }
  .modal-accept-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
  }
  .modal-link {
    color: var(--button-color-text);
  }
  .modal-button {
    display: block;
    height: 56px;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    min-width: 169px;
    color: #ffffff;
    background-color: #4d5ae5;
    margin: 0 auto;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
  }

  .input-visually-hidden:checked + .modal-accept-label > .modal-accept-span {
    background-color: var(--pressed-btn);
    border: none;
    fill: #ffffff;
    border-color: var(--background-white);
  }
}
/* ====================  BEFORE DESKTOP =================== */
@media screen and (max-width: 1157px) {
  .section-work {
    display: none;
  }
  .specialties-container {
    display: none;
  }
  .footer-flex {
    flex-wrap: wrap;
    gap: 72px 24px;
    max-width: 550px;
  }
  .header-adress-list {
    flex-direction: column;
    gap: 12px;
  }
  .body-adress {
    font-size: 12px;
  }
  .header-adress-list {
    flex-direction: column;
    gap: 12px;
  }
}
/* ====================  DESKTOP =================== */
@media screen and (min-width: 1158px) {
  /* HEADER */
  .logo-link {
    margin-right: 76px;
  }
  .header-adress-list {
    gap: 40px;
  }

  /* Hero */

  .main-section-tools {
    padding: 188px 0;
    max-width: 1440px;
    height: 600px;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/images/people-office/people-office.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .main-section-tools {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/images/people-office/people-office-x2.jpg);
    }
  }

  /* 2я секция */

  .specialties-item {
    width: 264px;
  }

  .specialties-title {
    font-weight: 500;
    font-size: 20px;
  }
  .specialties-text {
    font-weight: 400;
  }

  /* Footer */

  .footer-flex {
    align-items: baseline;
  }
  .footer-social-container {
    margin-right: 120px;
  }
  .footer-social {
    margin-right: 80px;
  }
}
